<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureVaultApp"
        android:name=".screens.MyApplication"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".screens.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.RegisterScreen" />
        <activity android:name=".screens.Edit_Profile" />
        <activity android:name=".screens.Add_notes" />
        <activity android:name=".screens.Note_content" />
        <activity android:name=".screens.Profile" />
        <activity android:name=".screens.Notes_Activity" />
        <activity android:name=".screens.AddPasswordActivity" />
        <activity android:name=".screens.PasswordDetailActivity" />
        <activity android:name=".screens.MainPasswordListScreen" />
        <activity android:name=".screens.MainActivityAfak" />
        <activity android:name=".screens.FingerprintActivity" />
        <activity android:name=".screens.PasswordGeneratorActivity"/>

        <service
            android:name=".services.MyAutofillService"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>